.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.spacer {
  flex: 1 1 auto;
}
@media only screen and (min-width: 960px) {

  .toggleMenu {
    height: 6em;
    width: 3em;
    background: #c2185b;
    display: inline-block;
    border-bottom-right-radius: 3em;
    border-top-right-radius: 3em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0.4;
  }
}