<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="isAuthenticated() && (isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="isAuthenticated() && (isHandset$ | async) ? 'over' : 'side'" [opened]="isAuthenticated() && (isHandset$ | async) === false">
    <mat-toolbar >Menu</mat-toolbar >
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/settings">Settings</a>
      <a mat-list-item  routerLinkActive="active" routerLink="/admin" *ngIf="isAuthenticated() && hasRole(['ROLE_ADMIN'])">Admin</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isAuthenticated() && isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLinkActive="active" routerLink="/homepage">BaseApp</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" *ngIf="isAuthenticated()" (click)="signOut()">Sign Out</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div (click)="drawer.toggle()" class="toggleMenu" *ngIf="isAuthenticated()"></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>