<h1 mat-dialog-title>Delete user</h1>
<mat-dialog-content>
    <p>Are you sure you want to delete <strong>{{user.firstName}} {{user.surname}}</strong>?</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
</mat-dialog-actions>