<h1 mat-dialog-title>Forgot password</h1>
<form [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm.value.email)">
    <mat-dialog-content>
        <p>A reset password link will be sent to your email</p>
        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" autofocus>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!emailForm.valid">Reset password</button>
        <button mat-button type="button" (click)="onClose()">Cancel</button>
    </mat-dialog-actions>
</form>