.mat-spinner{
    margin: 0 auto;
}
.title{
    text-align: center;
}
.table {
    max-width: 60em;
    overflow: auto;
    margin: 0 auto;
  }
  
.mat-table {
    min-width: 40em;
}
.mat-paginator{
    max-width: 80em;
    margin: 0 auto;
    bottom: 0px;
    position: sticky;
    z-index: 10;
}
.emailheader{
    min-width: 17.5em;
}
.emailcolumn{
    min-width: 15em;
}
.mat-column-actions {
    flex: 0 0 2em;
  }
.mat-form-field {
font-size: 14px;
width: 100%;
}
  
