<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup.enter)="search(searchInput.value)" #searchInput placeholder="Email, first name and surname">
</mat-form-field>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
    <div class="mat-elevation-z8" class="table">
        <mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortEvent($event)">

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'emailheader'"> Email </mat-header-cell>
                <mat-cell *matCellDef="let user" [ngClass]="'emailcolumn'"> {{user.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="first_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> First name </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.surname}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="roles">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.roles[0]}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let user"><button mat-icon-button matTooltip="Click to Delete"
                        (click)="openDeleteUserDialog(user)" color="primary">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
    <mat-paginator [length]="amount" [pageSize]="10" (page)="onPageChangeEvent($event)">
    </mat-paginator>
</div>