<mat-tab-group animationDuration="0ms" mat-stretch-tabs class="tabs">
    <mat-tab label="All users">
        <ng-template matTabContent>
            <app-user-table></app-user-table>
        </ng-template>
    </mat-tab>
    <mat-tab label="New admin">
        <ng-template matTabContent>
            <app-create-admin></app-create-admin>
        </ng-template>
    </mat-tab>
</mat-tab-group>