<mat-card class="card">
    <mat-card-content class="container">
        <mat-card-title class="title">Reset password</mat-card-title>
        <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
            <mat-form-field>
                <input matInput id="password" type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="resetPasswordForm.controls.password.invalid">Password needs to be atleast 8 charachters
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirm password*" id="confirmPassword" type="Password"
                    formControlName="confirmPassword">
                <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.invalid">Passwords should match</mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid" type="submit">Save
                    password
                </button>
            </mat-card-actions>
        </form>

    </mat-card-content>
</mat-card>