<div class="container">
    <h1 *ngIf="isEnabled === undefined">Verifying account</h1>
    <mat-spinner *ngIf="isEnabled === undefined" class="spinner"></mat-spinner>
    <h2 *ngIf="isEnabled == false">Account couldn't be verified</h2>
    <h1 *ngIf="isEnabled == true">Account is verified!</h1>
    <h2 *ngIf="isEnabled == true">Redirecting to log in</h2>
</div>