<mat-card class="card">
    <mat-card-content class="container">
        <mat-card-title class="title">Log in</mat-card-title>
        <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value,focusable)">
            <mat-form-field>
                <input matInput id="email" type="text" placeholder="Email" formControlName="email" autofocus>
            </mat-form-field>
            <mat-form-field>
                <input matInput id="password" type="password" #focusable placeholder="Password"
                    formControlName="password">
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!userForm.valid" type="submit">Log in</button>
                <button mat-button type="button" (click)="openResetPasswordDialog()">Forgot password?</button>
            </mat-card-actions>
        </form>

    </mat-card-content>
</mat-card>