<mat-card class="card">
    <mat-card-content class="container">
        <mat-card-title class="title">Change password</mat-card-title>
        <form class="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
            <mat-form-field>
                <input matInput placeholder="Password" id="password" type="password" formControlName="password">
                <mat-error *ngIf="hasError">Wrong Password
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="New password" id="newPassword" type="password"
                    formControlName="newPassword">
                <mat-error *ngIf="passwordForm.controls.newPassword.invalid">Password needs to be atleast 8 charachters
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirm password" id="confirmPassword" type="Password"
                    formControlName="confirmPassword">
                <mat-error *ngIf="passwordForm.controls.confirmPassword.invalid">Passwords should match</mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!passwordForm.valid" type="submit">Change
                    password</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>