<mat-card class="card">
    <mat-card-content class="container" >
        <mat-card-title class="title">Sign up</mat-card-title>
        <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
            <mat-form-field>
                <input matInput id="email" type="email" placeholder="Email*" formControlName="email" autofocus>
                <mat-error *ngIf="signupForm.controls.email.invalid">Email is not valid</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="First name" id="firstName" type="text" formControlName="firstName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Surname" id="surname" type="text" formControlName="surname">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password*" id="password" type="password" formControlName="password">
                <mat-error *ngIf="signupForm.controls.password.invalid">Password needs to be atleast 8 charachters
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirm password*" id="confirmPassword" type="Password"
                formControlName="confirmPassword">
                <mat-error *ngIf="signupForm.controls.confirmPassword.invalid">Passwords should match</mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!signupForm.valid || isLoading" type="submit" >Sign up <mat-icon *ngIf="isLoading"><mat-spinner diameter="20" color="accent">
                </mat-spinner></mat-icon></button>

            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>