<mat-card class="card">
    <mat-card-content class="container">
        <mat-card-title class="title">Update info</mat-card-title>
        <form class="form" [formGroup]="userInfoForm" (ngSubmit)="onSubmit(userInfoForm.value,focusable)">
            <mat-form-field>
                <input matInput id="email" type="email" placeholder="Email*" formControlName="email" autofocus>
                <mat-error *ngIf="userInfoForm.controls.email.invalid">Email is not valid</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="First name" id="firstName" type="text" formControlName="firstName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Surname" id="surname" type="text" formControlName="surname">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" #focusable id="password" type="password" formControlName="password">
                <mat-error *ngIf="userInfoForm.controls.password.invalid">Password needs to be atleast 8 charachters
                </mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!userInfoForm.valid" type="submit">Update</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>