<mat-tab-group mat-stretch-tabs class="tabs">
        <mat-tab label="Account info"><app-user-info></app-user-info></mat-tab>
        <mat-tab label="Security"><app-security></app-security></mat-tab>
</mat-tab-group>