<mat-tab-group mat-stretch-tabs class="tabs" (selectedTabChange)="onTabClick($event)" [selectedIndex]="selectedIndex">
        <mat-tab label="Log in"><app-login></app-login></mat-tab>
        <mat-tab label="Sign up"><app-signup></app-signup></mat-tab>
</mat-tab-group>
      